# Prerequisites
*.d
*~
/.svn
/build
/build32
libSMHasherSupport.a
/TAGS

# Compiled Object files
*.slo
*.lo
*.o
*.obj
SMHasher

# Precompiled Headers
*.gch
*.pch
README.speed
YoshimitsuTRIAD/
Yoshimura/
crcutil-1.0/
crcutil/
doc/FarmHash128.fast
falkhash/
fast-hash/
fsbench-0.14/
fsbench-density/
*.bak
prof.h
/zlib/
/clhash/

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
# Apple artefact
.DS_Store
